<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74034216857-jnif6nkjboboee14k107or6f51b0s0j8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74034216857-jnif6nkjboboee14k107or6f51b0s0j8</string>
	<key>API_KEY</key>
	<string>AIzaSyCXdNQiwIQ-V0B_1nnw00SL1-CwhKRVSI4</string>
	<key>GCM_SENDER_ID</key>
	<string>74034216857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterUi</string>
	<key>PROJECT_ID</key>
	<string>flutter-ui-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ui-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74034216857:ios:c3c639e2ef6a5f07819d08</string>
</dict>
</plist>